$label-width:120px;
$space-after-label:20px;
$after-label:$label-width + $space-after-label;

.simple_form {
	label {
		float: left;  
	  width: $label-width;  
	  text-align: right;  
	  margin: 2px 10px;
	}
	
	div.input {  
	  margin-bottom: 10px;
	}
	
	div.question_content_wrapper, div.answer_content_wrapper {
//		display:inline-block;
		float:left;
	}
	
	.question_content_remove_link_container, .answer_content_remove_link_container {
		display:inline-block;
//		clear:both;
		width:100%;
	}
	
	div.boolean, input[type='submit'] {  
	  margin-left: $after-label;  
	}
	
	input[value='Find'] {  
	  margin-left: 10px;  
	}
	
	div.boolean label {  
	  float: none;  
	  margin: 0;  
	}
	
	div#question_link_container, div.answer_link_container {
		margin-top:20px;
		margin-left:$after-label;
	}

	div.question_container {
		margin-top:20px;
	}

	div.question_remove_link_container, .answer_remove_link_container {
		float:left;
		margin-left:10px;
	}
	
	div#questions {
		margin-top:50px;
		margin-bottom:50px;
	}
	
	span.error {
		margin-left:10px;
		color:red;
	}
	
	div.radio {
		span {
			display:block;
			clear:both;
			
			label.collection_radio {
				float:left;
				text-align:left;
			}
			input {
				float:left;
			}
		}
	}
	
	div.question {
		padding-top:20px;
		padding-bottom:20px;
		font-weight:bold;
	}
	
	div.question_answer {
		display:block;
		margin-top:20px;
		margin-bottom:20px;
		text-align:left;
		clear:both;
	}
	
	.actions_user_answers input {
		margin: 0;
	}
}

div#message_container.error {
	color:red;
}

div#message_container.notice {
	color:green;
}

div#message_container.none {
	display:none;
}

div.hidden {
	display:none;
}

table.surveys_table {
	
	th, td {
		min-width:150px;
		text-align:left;
		padding-left:15px;
	}
	
	th.link, td.link {
		max-width:90px;
		padding-left:0px;
		text-align:center;
	}
}

.question_and_results_container {
	margin-top:15px;
	
	.result_finder_container, div.pagination {
		margin-top:15px;
	}
	
	table.finder_result_table, table.finder_result_summary {
		margin-top:15px;
		
		th {
			min-width:150px;
			text-align:left;
		}
		
		span.portion_matched {
			background-color:yellow;
		}
	}
}