%table{ :class => "finder_result_summary"}
  %tr
    %th Search string
    %th Total
  %tr
    %td= params[:user_answer][:query]
    %td= @user_answers.total_entries 
    
- unless @user_answers.empty?
  %table{ :class => "finder_result_table" }
    %tr
      %th Nr
      %th Answer
    -@user_answers.each_with_index do |ua, i|
      %tr
        %td=i+1
        %td=user_answer_content(ua, params[:user_answer][:query])

= will_paginate @user_answers
:javascript
  $('.pagination a').attr('data-remote', 'true');

    